@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <div class="text-center-home">
        <h1 class="display-4">Imóveis dos Guri</h1>
    </div>

    <div class="main-text">
        <div class="about-project">
            <h2>Sobre o Projeto</h2>
            <p>
                Esse projeto Web ASP.NET MVC é o trabalho final proposto na matéria de Programação I,
                da Terceira Fase de Ciência da Computação da Unoesc Videira. O seu intuito é um sistema
                que armazene Imóveis a venda, permitindo o armazenamento e exportação de seus Dados.
            </p>
            <br />
            <h2>Proposta e Requisitos do Projeto</h2>
            <p>
                Um corretor de imóveis deseja criar um sistema capaz de armazenar os seus itens à venda e para locação.
                Para isto é necessário o registro dos IMÓVEIS e suas CATEGORIAS (Apartamento, Casa, Sítio e Sala Comercial).
                Onde uma CATEGORIA pode ter 1 ou mais IMÓVEIS. Para os imóveis é desejado armazenar dados dos seguintes atributos:
                Nro de Quartos, Nro de Vagas de Garagem, Nro de Banheiros, Endereço, Nome, Descrição e CATEGORIA.
                <br />
                <br />
                Ao armazenar os dados dos IMÓVEIS em uma Lista e exibir em uma View tabulada,
                permita que o Corretor de Imóveis exporte os dados em um arquivo .txt delimitado.
                <br />
                <br />
                O projeto deve ser disponibilizado via GitHub;
                <br />
                Pode ser desenvolvido em equipes com até 4 integrantes
            </p>

            <div class="home-buttons">
                <button class="home-button">Imóveis</button>
                <button class="home-button">Sobre</button>
            </div>
        </div>

    </div>
</div>

