@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Imóveis dos Guri</h1>
    <h4 class="welcome">Bem-Vindo!</h4>
    <p>Saiba mais sobre esse Projeto</p>
</div>

<div class="main-text">
    <div class="about-project">
        <h2>Sobre o Projeto</h2>
        <p>Esse projeto Web ASP.NET MVC </p>
    </div>

</div>
