html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4{
    font-size: 75px;
    text-align:left;
    margin-left: -230px;
}

.text-center{
    margin-top: 95px;
}

.index-text-container{
    margin-left: -230px;
}

.main-text{
    font-size: 24px;
    margin-top: 30px;
    text-align: justify;
    width: 40%;
}

.cypher-button-container{
    margin-left: -1360px;
}

.button {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background: linear-gradient(145deg, #ff350a, #390000);
    border-radius: 20px;
}

.button:hover {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background: linear-gradient(145deg, #870400, #ff350a);
    border-radius: 20px;
}

img{
    width: 50%;
    justify-content: right;
    margin-right: -850px;
    margin-top: -600px;
}

.cypherPage{
    margin-top: 150px;
}

.encryptForm{
    margin-top: 100px;
}

.decryptForm{
    margin-top: 100px;
}

.cypherButton {
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background: linear-gradient(145deg, #ff350a, #390000);
    border-radius: 20px;
}