

@{
    ViewData["Title"] = "NumeroExtenso";
}

<h1 class="NumeroExtenso">Página da Conversão de Número em Extenso</h1>


<form asp-action="NumeroExtenso" class="form-numExt" method="post">
    <h2 class="numeroExtenso">Digite seu Número</h2>
    <input type="text" placeholder="Digite um Número" />
    <button class="" type="submit" name="action" >Gerar Número por Extenso</button>
    <h3>Número por Extenso: </h3>
</form>



