@{
    ViewData["Title"] = "Imoveis";
}

<div class="text-center">
    <h1 class="display-4">Imóveis dos Guri</h1>
    <p>Veja todos os Imóveis Disponíveis</p>
</div>

<div class="buttons">
    <button>Casas</button>
    <button>Apartamentos</button>
    <button>Sítios</button>
    <button>Salas Comerciais</button>
</div>


